

<div class="row">
    <div class="col-12 col-md-9 mb-3">
        <div class="shadow h-100 w-100 mt-5 rounded">
            <form action="/ask" method="post" class="d-flex flex-column p-3" onsubmit="return submitAsk()">
                <div class="form-group">
                    <label for="txt_title">标题，要求 4 个字以上，简明扼要</label>
                    <input type="text" class="form-control" name="title" id="txt_title" aria-describedby="title" required placeholder="请输入标题" />
                </div>

                <div class="form-group">
                    <label for="txt_description">请描述具体要提问的内容，至少 15 个字，可参考 </label><a href="ask#how-to-ask">提问要点</a>
                    <br />
                    <small class="small">支持 markdowm 语法</small>
                    <ul class="nav nav-tabs justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link active" id="a_nav_edit" href="javascript:;" onclick="navEdit()">编辑</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="a_nav_view" href="javascript:;" onclick="navView()">预览</a>
                        </li>
                    </ul>
                    <textarea class="form-control" id="txt_description" name="description" rows="15" required placeholder="描述内容"></textarea>
                    <div class="border p-3" id="d_preview" style="display: none;"></div>
                </div>
                <div class="form-group">
                    <label for="txt_tags">标签，请写上与问题相关联的标签</label>
                    <input type="text" class="form-control" id="txt_tags" name="tags" required placeholder="写上合适的标签" />
                </div>
                <button type="submit" class="btn btn-primary btn-block" id="btn_post">提交问题</button>
            </form>
        </div>
    </div>
    <div class="col-12 col-md-3 mb-3 mt-5">
        <div id="how-to-ask">
            <h3 class="font-weight-bold">提问要点 !</h3>
            <p>
                更详细的介绍请参考 -
                <a href="https://github.com/ryanhanwu/How-To-Ask-Questions-The-Smart-Way/blob/master/README-zh_CN.md#%E6%8F%90%E9%97%AE%E7%9A%84%E6%99%BA%E6%85%A7" target="_blank">提问的智慧</a>
            </p>
            请不要写毫无意义的描述内容，应当写清楚您要提问的细节，例如：
            <p><strong>如果提问bug相关，尽量写清楚：</strong></p>
            <ul>
                <li>bug 的描述信息</li>
                <li>使用的语言和代码上下文</li>
                <li>系统环境，使用的架构</li>
                <li>产生的日志</li>
                <li>你能想到的其他细节...</li>
                <li><strong>不要写对问题没有帮助的描述，如您急躁的心情</strong></li>
            </ul>
            <p><strong>细节越多，会让人更方便解决您的问题，请认真对待您的提问。</strong></p>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/lib/marked/marked.min.js"></script>
    <script src="~/lib/axios/axios.min.js"></script>
    <script>
        $(function () {
            //  检查登录
            if (!isLogged()) {
                alert('请先登录');
                location.href = `/login?${REDIRECT_TO}=${location.pathname}`;
            }


        })

        function submitAsk() {
            disabled('btn_post');

            const DOC = document;

            const TITLE = DOC.getElementById('txt_title');
            const DESCRIPTION = DOC.getElementById('txt_description');
            const TAGS = DOC.getElementById('txt_tags');

            TITLE.value = TITLE.value.trim();
            if (!TITLE.value || TITLE.value.length < 4) {
                alert('标题，要求 4 个字以上');
                TITLE.focus();
                enabled('btn_post');
                return false;
            }
            DESCRIPTION.value = DESCRIPTION.value.trim();
            if (!DESCRIPTION.value || DESCRIPTION.value.length < 15) {
                alert('请描述具体要提问的内容，至少 15 个字');
                DESCRIPTION.focus();
                enabled('btn_post');
                return false;
            }
            TAGS.value = TAGS.value.trim();

            axios.post('/ask', {
                title: TITLE.value,
                description: DESCRIPTION.value,
                tags: TAGS.value.split(',')
            })
                .then(function (resp) {
                    if (resp.status === 200) {
                        alert('提问成功');
                        location.href = 'questions/' + resp.data.data + `/${TITLE.value}`;
                    } else {
                        alert(resp.data.message);
                    }
                })
                .catch(function (err) {
                    catchErr(err);
                });

            enabled('btn_post');
            return false;
        }

        function navEdit() {
            $('#txt_description').show();
            $('#d_preview').hide();

            $('#a_nav_edit').addClass('active');
            $('#a_nav_view').removeClass('active');
        }

        function navView() {
            const EDIT = $('#txt_description');
            EDIT.hide();

            const VIEW = $('#d_preview');
            VIEW.html(marked(EDIT.val().trim()));
            VIEW.show();

            $('#a_nav_edit').removeClass('active');
            $('#a_nav_view').addClass('active');
        }

    </script>
}