<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <base href="/" />
    <link href="~/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-4.4.1-dist/css/bootstrap.min.css" rel="stylesheet" media="screen,projection" />
    @RenderSection("Style", required: false);
</head>
<body>
    <header class="header-top top-bar">
        <div class="row w-100">
            <div class="col-2 col-sm-2 col-lg-3 mt-2 text-right">
                <img src="~/img/有个bug.png" alt="有个bug LOGO" height="30" />
            </div>
            <form action="/" method="post" class="col-10 col-sm-7 col-lg-6 d-flex">
                <img src="~/icons/search.svg" class="mt-2 mr-1" alt="搜索" width="30" height="30" />
                <input class="form-control search-box" type="search" placeholder="按回车搜索..." required />
            </form>
            <div class="col-sm-3 mt-1 text-left">
                <button type="button" class="btn btn-primary">登录</button>
                <button type="button" class="btn btn-outline-primary">注册</button>
            </div>
        </div>
    </header>

    <div class="container mt-5 h-100">
        @RenderBody()
    </div>
    <footer class="w-100 row bg-dark" style="margin: auto;">
        <div class="col-12 text-center">
            有个bug，程序员的技术问答社区
        </div>
    </footer>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/lib/bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
