<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <base href="/" />
    <link href="~/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-4.4.1-dist/css/bootstrap.min.css" rel="stylesheet" media="screen,projection" />
    @RenderSection("Style", required: false)
</head>
<body>
    <header class="header-top top-bar">
        <div class="row w-100">
            <div class="col-2 col-sm-2 col-lg-3 mt-2 d-none d-md-block text-right">
                <a href="/">
                    <img src="~/img/有个bug.png" class="img-fluid" alt="有个bug" />
                </a>
            </div>
            <div class="col-2 col-sm-2 col-lg-3 mt-2 d-md-none text-right">
                <a href="/">
                    <img src="~/img/B.png" class="img-fluid" alt="有个bug LOGO" />
                </a>
            </div>
            <form action="/questions/search" id="fom_search" method="get" onsubmit="return search()" class="col-7 col-sm-7 col-lg-6 d-flex">
                <label for="txt_search">
                    <img src="~/icons/search.svg" class="mt-2 mr-1" alt="搜索" width="30" height="30" />
                </label>
                <input class="form-control search-box" type="search" id="txt_search" placeholder="按回车搜索..." required />
            </form>
            <div class="col-sm-3 mt-1 text-left">
                <div id="d-login" hidden="hidden">
                    <div class="d-none d-md-block">
                        <button type="button" class="btn btn-primary" onclick="javascript: location.href = 'login';">登录</button>
                        <button type="button" class="btn btn-outline-primary" onclick="javascript: location.href = 'register';">注册</button>
                    </div>
                    <div class="dropdown d-md-none">
                        <a class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="~/icons/list.svg" alt="更多" height="40" />
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="login">登录</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="register">注册</a>
                        </div>
                    </div>
                </div>
                <div id="d-logout" hidden="hidden">
                    <a class="dropdown-toggle" href="javascript:;" id="avatar_DDL" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="/files/default.png" id="img_avatar" alt="头像" height="40" style="cursor: pointer;" />
                    </a>
                    <div class="dropdown-menu" aria-labelledby="avatar_DDL">
                        <a class="dropdown-item" id="a_profile" href="javascript:;">我的主页</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="javascript:;" onclick="logout()">退出登录</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div id="d_alert" style="margin-top: 27px;"></div>
    <div class="container mt-5 mb-5">
        @RenderBody()
    </div>

    <blockquote class="blockquote text-center">
        <footer class="blockquote-footer"><cite title="有个bug">有个bug，</cite>程序员的问答社区</footer>
    </blockquote>

    <script src="~/js/common.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/lib/bootstrap-4.4.1-dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
    <script src="~/lib/axios/axios.min.js"></script>

    <script>
        $(function () {
            checkAlert();

            const current = isLogged();
            if (current) {
                document.getElementById('d-logout').removeAttribute('hidden');
                const DATA = JSON.parse(current);
                document.getElementById('a_profile').href = `/${DATA.name}`;
            }
            else
                document.getElementById('d-login').removeAttribute('hidden');

            setUserAvatar(current);
        });

        function logout() {
            axios.put('/users/logout')
                .then(function (resp) {
                    if (resp.status === 200) {
                        setLogout();
                    } else {
                        alert(resp.data.message);
                    }
                })
                .catch(function (err) {
                    catchErr(err);
                });
        }

        function search() {
            const searchContent = document.getElementById('txt_search').value.trim();
            if (!searchContent)
                return false;

            const fom = document.getElementById('fom_search');
            fom.action += `/${searchContent}`;

            fom.submit();
        }

    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
