@model Domain.Paginator;

<nav class="mt-4 ml-3" aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item" @Model.PrePageDisabled()>
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">上一页</span>
            </a>
        </li>
        
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>

        <li class="page-item" @Model.NextPageDisablid()>
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">下一页</span>
            </a>
        </li>
    </ul>
</nav>
