@{
    ViewBag.Title = "有个bug，程序员的技术问答社区";
}



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<a class="waves-effect waves-light btn">按钮</a>


@section Scripts {
<script>

</script>
}