@{
    ViewBag.Title = "有个bug，程序员的技术问答社区";
}



<div class="w-100 h-100">
    <div class="d-flex border-bottom border-secondary pt-4 pb-4">
        <h2 class="flex-grow-1">最新提问</h2>
        <a class="btn btn-primary btn-lg" href="/ask">我要提问</a>
        <a class="btn btn-danger btn-lg" href="/ask">我要提问</a>
    </div>
    <div>
        list
    </div>
    <div class="row">
        <div class="col-6 d-none d-sm-block">
            <a class="btn btn-primary btn-lg" href="/ask">我要提问</a>

        </div>
        <div class="col-6">
            <a class="btn btn-danger btn-lg" href="/ask">我要提问</a>

        </div>
    </div>
</div>

@section Scripts {
    <script>

    </script>
}