
<div class="w-100 h-100 pt-5" style="padding-top: 20%;">
    <h3 class="text-center mb-5">注册</h3>
    <form action="/register" method="post" class="m-auto p-4 shadow rounded" onsubmit="return register()" style="width: 400px;">
        <div class="form-group">
            <label for="txt_email">邮箱</label>
            <input type="email" class="form-control" name="email" id="txt_email" required placeholder="请输入邮箱" />
            <input type="password" hidden name="password" id="password" />
        </div>
        <div class="form-group">
            <label for="txt_password">密码</label>
            <input type="password" class="form-control" id="txt_password" required placeholder="请输入密码" />
        </div>
        <div class="form-group">
            <label for="txt_confirm">确认密码</label>
            <input type="password" class="form-control" id="txt_confirm" required placeholder="确认密码" />
        </div>
        <button type="submit" class="btn btn-primary btn-block" id="btn_register">注册</button>
    </form>
</div>

@section Scripts {
    <script src="~/lib/CryptoJS v3.1.2/rollups/sha256.js"></script>
    <script>

        function register() {

            const DOC = document;

            const EMAIL = DOC.getElementById('txt_email');
            const PASSWORD = DOC.getElementById('txt_password');
            const CONFIRM = DOC.getElementById('txt_confirm');

            if (!checkEmail(EMAIL.value.trim())) {
                showAlert('邮箱格式有误');
                EMAIL.focus();
                enabled('btn_register');
                return false;
            }

            const PASSWORDVALUE = PASSWORD.value.trim();
            if (PASSWORDVALUE.length < 6) {
                showAlert('密码最少 6 位');
                PASSWORD.focus();
                enabled('btn_register');
                return false;
            }
            if (CONFIRM.value.trim() !== PASSWORDVALUE) {
                showAlert('两次密码不一致');
                enabled('btn_register');
                return false;
            }

            $('#password').val(CryptoJS.SHA256(PASSWORDVALUE).toString());

            disabled('btn_register')
            return true;
        }
    </script>
}