@model Domain.Paginator;

@section Style {
    <style>
        .user {
            height: 70px;
            display: flex;
            align-items: flex-end;
            border-bottom: 1px solid #c1c1c1;
        }

        .avatar {
            position: relative;
            top: 15px;
            left: 15px;
            background-color: #fff;
        }
    </style>
}

<div class="row">
    <div class="col-2 d-none d-lg-block" style="width: 150px;">
        @await Html.PartialAsync("_LeftNav")
    </div>

    <div class="col-sm-12 col-lg-8 h-100">
        <div>
            <div class="user">
                <div class="avatar">
                    <a href="/myfor">
                        <img class="img-thumbnail" src="/files/default.png" alt="头像" width="60" />
                    </a>
                </div>
            </div>
            <div class="pl-3 mt-3 h3">myfor</div>
        </div>

        <div class="mt-5">
            <span class="h4 tag-top">
                提问列表
            </span>

            <div>
                @foreach (var question in Model.GetList<Domain.Questions.Models.QuestionItem_UserSelf>())
                {
                <div class="d-flex flex-column border rounded mt-2 mb-2 p-3">
                    <span>
                        <a href="questions/@question.Id/@question.Title">@question.Title</a>
                    </span>
                    <div class="p-2">
                        @question.Description
                    </div>
                    <div>
                        <span class="small">@question.CreateDate</span>
                        @if (question.IsSelf)
                        {
                            <span class="ml-3 small">@question.State.Value</span>
                        }
                    </div>
                </div>
                }

                @await Html.PartialAsync("_Paginator", Model)
            </div>

        </div>
    </div>

    <div class="col-2 d-none d-lg-block">
        @await Html.PartialAsync("_RightNav")
    </div>
</div>

@section Scripts {
}